//colors
$color-primary: #22007c;

$color-secondary: #0d00a4;

$color-white: #fff;
$color-black: #000;

$color-red-light: #e37057;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #333;

//fonts
$font-primary: "Lato", sans-serif;
$default-font-size: 1.6rem;

//box-shadows
$shadow-light: 0 1rem 2rem rgba($color-black, .1);
$shadow-very-light: 0 1rem 1rem rgba($color-black, .05);
