<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174152899-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-174152899-1');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Jordan Pisani | Web Developer">

        <link href='https://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet'>

        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <title>Jordan Pisani | Web Developer</title>
    </head>

    <body>
        <div class="container">
            <header>
                <a href="/"><img src="/favicon.png" alt="logo" class="logo"></a>

                <nav class="user-nav" role="navigation">
                    <div class="user-nav__item">
                        <a href="#projects" class="user-nav__link"><strong>Projects</strong></a>
                    </div>

                    <div class="user-nav__item">
                        <a href="#contact" class="user-nav__link"><strong>Contact Me</strong></a>
                    </div>
                </nav>
            </header>
