<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet'>

        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <title>Jordan Pisani | Web Developer</title>
    </head>

    <body>
        <div class="container">
            <header class="nav-down">
                <a href="/"><img src="/favicon.png" alt="logo" class="logo"></a>

                <nav class="user-nav" role="navigation">
                    <div class="user-nav__item">
                        <a href="#projects" class="user-nav__link">Projects</a>
                    </div>

                    <div class="user-nav__item">
                        <a href="#contact" class="user-nav__link">Contact Me</a>
                    </div>
                </nav>
            </header>
