<%- include("partials/header") %>

<section class="hero">
	<div class="hero__text">
		<h1 class="heading-1">My name is <span class="highlight">Jordan</span>. I'm a <span class="highlight">web developer</span>.</h1>

		<p class="hero-secondary">
		    I'm a <span class="highlight">full-stack developer</span> with a focus on Node, Express, and MongoDB.
        </p>

		<p class="hero-secondary">
		    I can take your <span class="highlight">concept</span> and turn it into a <span class="highlight">fully functional</span> and <span class="highlight">feature complete</span> website.
        </p>
    </div>
    
    <div class='icon-scroll'><div/>
</section>

<main>
    <section class="section-showcase" id="projects">
        <div class="section-showcase__skills">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-2">Technical Expertise</h2>
            </div>

            <div class="section-showcase__skills__content">
                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-node-dot-js"></use>
                    </svg>

                    <p><strong>Node.js</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-sass"></use>
                    </svg>

                    <p><strong>Sass</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-mongodb"></use>
                    </svg>

                    <p><strong>MongoDB</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-jquery"></use>
                    </svg>

                    <p><strong>jQuery</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-npm"></use>
                    </svg>

                    <p><strong>npm</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-javascript"></use>
                    </svg>

                    <p><strong>JavaScript</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-git"></use>
                    </svg>

                    <p><strong>Git</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-html5"></use>
                    </svg>

                    <p><strong>HTML5</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-heroku"></use>
                    </svg>

                    <p><strong>Heroku</strong></p>
                </div>

                <div class="section-showcase__skills__content__svg">
                    <svg class="section-showcase__skills__content__svg--icon">
                        <use xlink:href="/sprite.svg#icon-csswizardry"></use>
                    </svg>

                    <p><strong>CSS3</strong></p>
                </div>
            </div>
        </div>

        <div class="section-showcase__projects">
            <div class="u-center-text u-margin-bottom-big">
                <h2 class="heading-2">Projects</h2>
            </div>

            <div class="section-showcase__projects__content">
                <div class="project">
                    <picture>
                        <source 
                            class="project__img" 
                            srcset="./projects/paypixs-webp.webp" 
                            alt="PayPixs"
                            type="image/webp">
                        <source 
                            class="project__img" 
                            srcset="./projects/paypixs-png.png" 
                            alt="PayPixs"
                            type="image/png">
                        <img 
                            class="project__img"
                            srcset="./projects/paypixs-png.png"
                            alt="PayPixs"
                            src="./projects/paypixs-png.png">
                    </picture>

                    <div class="project__text">
                        <div class="project__text-box">
                            <h3 class="heading-3">PayPixs</h3>

                            <div class="project__text__links">
                                <a class="project__text--link" href="https://www.paypixs.com" target="_blank" rel="noopener noreferrer">
                                    <svg class="project__text--svg">
                                        <use xlink:href="/sprite.svg#icon-share"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <p class="project__text--info">PayPixs is a fully functional web app built for a real estate company.</p>

                        <p class="project__text--info">Developed with Node, Mongoose, and Express.</p>
                    </div>
                </div>

                <div class="project">
                    <picture>
                        <source 
                            class="project__img" 
                            srcset="./projects/nexter-webp.webp" 
                            alt="Nexter"
                            type="image/webp">
                        <source 
                            class="project__img" 
                            srcset="./projects/nexter-png.png" 
                            alt="Nexter"
                            type="image/png">
                        <img 
                            class="project__img"
                            srcset="./projects/nexter-png.png"
                            alt="Nexter"
                            src="./projects/nexter-png.png">
                    </picture>

                    <div class="project__text">
                        <div class="project__text-box">
                            <h3 class="heading-3">Nexter</h3>

                            <div class="project__text__links">
                                <a class="project__text--link" href="https://nexter.s3.us-east-2.amazonaws.com/index.html" target="_blank" rel="noopener noreferrer">
                                    <svg class="project__text--svg">
                                        <use xlink:href="/sprite.svg#icon-share"></use>
                                    </svg>
                                </a>

                                <a class="project__text--link" href="https://github.com/JPisani4/nexter" target="_blank" rel="noopener noreferrer">
                                    <svg class="project__text--svg">
                                        <use xlink:href="/sprite.svg#icon-embed2"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <p class="project__text--info">Nexter is a demo site for a fake real estate company.</p>
                        
                        <p class="project__text--info">Made with CSS Grid, Flexbox, and Sass.</p>
                    </div>
                </div>

                <div class="project">
                    <picture>
                        <source 
                            class="project__img" 
                            srcset="./projects/trillo-webp.webp" 
                            alt="Trillo"
                            type="image/webp">
                        <source 
                            class="project__img" 
                            srcset="./projects/trillo-png.png" 
                            alt="Trillo"
                            type="image/png">
                        <img 
                            class="project__img"
                            srcset="./projects/trillo-png.png"
                            alt="Trillo"
                            src="./projects/trillo-png.png">
                    </picture>

                    <div class="project__text">
                        <div class="project__text-box">
                            <h3 class="heading-3">Trillo</h3>

                            <div class="project__text__links">
                                <a class="project__text--link" href="https://trillo-jp.s3.us-east-2.amazonaws.com/index.html" target="_blank" rel="noopener noreferrer">
                                    <svg class="project__text--svg">
                                        <use xlink:href="/sprite.svg#icon-share"></use>
                                    </svg>
                                </a>
                                
                                <a class="project__text--link" href="https://github.com/JPisani4/trillo" target="_blank" rel="noopener noreferrer">
                                    <svg class="project__text--svg">
                                        <use xlink:href="/sprite.svg#icon-embed2"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <p class="project__text--info">Trillo is a demo site for a fake travel booking company.</p>
                        
                        <p class="project__text--info">Made with Flexbox and Sass.</p>
                    </div>
                </div>

                <div class="project">
                    <picture>
                        <source 
                            class="project__img" 
                            srcset="./projects/portfolio-webp.webp" 
                            alt="Portfolio"
                            type="image/webp">
                        <source 
                            class="project__img" 
                            srcset="./projects/portfolio-png.png" 
                            alt="Portfolio"
                            type="image/png">
                        <img 
                            class="project__img"
                            srcset="./projects/portfolio-png.png"
                            alt="Portfolio"
                            src="./projects/portfolio-png.png">
                    </picture>

                    <div class="project__text">
                        <div class="project__text-box">
                            <h3 class="heading-3">Portfolio</h3>

                            <div class="project__text__links">
                                <a class="project__text--link" href="https://github.com/JPisani4/portfolio" target="_blank" rel="noopener noreferrer">
                                    <svg class="project__text--svg">
                                        <use xlink:href="/sprite.svg#icon-embed2"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <p class="project__text--info">You're looking at it!</p>
                        
                        <p class="project__text--info">Developed with Node, Express, and Flexbox.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-contact" id="contact">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-2">Contact Me</h2>
        </div>

        <form action="?_method=PUT" method="POST" class="form">
            <div class="form-group">
                <input class="form-group--input" type="email" name="email" id="email" minlength="1" maxlength="50" required>
                <label class="form-group--label" for="email"><strong>Email address</strong></label>
            </div>

            <div class="form-group">
                <input class="form-group--input" type="text" name="phoneNumber" id="phoneNumber" minlength="0" maxlength="16">
                <label class="form-group--label" for="phoneNumber"><strong>Phone number</strong> (optional)</label>
            </div>

            <div class="form-group">
                <input class="form-group--input" type="text" name="referral" id="referral" minlength="0" maxlength="100">
                <label class="form-group--label" for="referral"><strong>How'd you find me?</strong> (optional)</label>
            </div>

            <div class="form-group">
                <textarea rows="8" class="form-group--input" type="text" name="message" id="message" minlength="1" maxlength="1000" required></textarea>
                <label class="form-group--label" for="message"><strong>What can I do for you?</strong></label>
            </div>

            <input class="inputField" type="text" name="information" id="information" autocomplete="off" tabindex="-1">

            <div class="form-group form-group--btn">
                <button class="btn btn--blue">Send Message</button>
            </div>
        </form>
    </section>
</main>

<script>
	const isNumericInput = (event) => {
		const key = event.keyCode;
		return ((key >= 48 && key <= 57) || // Allow number line
			(key >= 96 && key <= 105) // Allow number pad
		);
	};

	const isModifierKey = (event) => {
		const key = event.keyCode;
		return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
			(key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
			(key > 36 && key < 41) || // Allow left, up, right, down
			(
				// Allow Ctrl/Command + A,C,V,X,Z
				(event.ctrlKey === true || event.metaKey === true) &&
				(key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
			)
	};

	const enforceFormat = (event) => {
		// Input must be of a valid number format or a modifier key, and not longer than ten digits
		if(!isNumericInput(event) && !isModifierKey(event)){
			event.preventDefault();
		}
	};

	const formatToPhone = (event) => {
		if(isModifierKey(event)) {return;}

		// I am lazy and don't like to type things more than once
		const target = event.target;
		const input = target.value.replace(/\D/g,'').substring(0,10); // First ten digits of input only
		const zip = input.substring(0,3);
		const middle = input.substring(3,6);
		const last = input.substring(6,10);

		if(input.length > 6){target.value = `(${zip}) ${middle} - ${last}`;}
		else if(input.length > 3){target.value = `(${zip}) ${middle}`;}
		else if(input.length > 0){target.value = `(${zip}`;}
	};

	const inputElement = document.getElementById('phoneNumber');
	inputElement.addEventListener('keydown',enforceFormat);
	inputElement.addEventListener('keyup',formatToPhone);
</script>

<%- include("partials/footer") %>
