.project {
	margin: 1rem;
	border-radius: 3px;
	box-shadow: $shadow-light;
	overflow: hidden;
	position: relative;
	display: flex;

	&__img {
		max-height: 30rem;
		width: auto;
		transition: all .2s;
	}

	&__text {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: opacity .2s, visibility .2s;
		color: $color-white;
		font-size: 2rem;

		&--info {
			font-size: 3rem;
		}

		&--link {
			display: flex;

			&,
			&:link,
			&:visited {
				text-decoration: none;
				transition: all .2s;
				border: none;
				cursor: pointer;
			}

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}

		&--svg {
			width: 2.25rem;
			height: 2.25rem;
			fill: $color-white;

			@include respond(tab-land) {
				width: 2.75rem;
				height: 2.75rem;
			}

			@include respond(tab-port) {
				width: 3rem;
				height: 3rem;
			}

			@include respond(phone) {
				width: 3.5rem;
				height: 3.5rem;
			}
		}

		& p {
			font-size: 1.6rem;
		}

		&--info {
			transition: all .2s;
			transform: translateY(1rem);
			text-align: center;
			width: 90%;

			&:last-child {
				margin-top: 1rem;
			}
		}

		&__links {
			display: flex;
			justify-content: center;
			flex-direction: row;
		}
	}

	&:hover &__text {
		visibility: visible;
		opacity: 1;
	}

	&:hover &__img {
		filter: blur(.2rem) grayscale(40%) brightness(60%);
	}

	&:hover &__text--info &__text--link {
		transform: translateY(0);
	}

	@media only screen and (hover: none) {
		&__text {
			visibility: visible;
			opacity: 1;
			position: static;
			background-color: $color-white;
			padding-bottom: 2rem;

			&--svg {
				fill: $color-primary;
			}

			&--info {
				color: $color-grey-dark-1;
			}

			&--link:first-child {
				margin-left: 1rem;
			}

			&-box {
				display: flex;
				align-items: center;
			}
		}

		& {
			position: static;
			flex-direction: column;
		}
	}
}
